@charset "utf-8";
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* header > a {
    position: absolute;
    top: 0;
    left: 10px;
    color: black;
    text-decoration: none;
    cursor: pointer;
} */
main.C-flexbox {
    display: flex;
}
section.left, section.right {
    height: 100%;
    width: 50%;
    padding: 20px;
}
section.left .mov {
    width: 100%;
    height: 100%;
    background-color: darkseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.left .mov iframe {
    width: 100%;
    height: 100%;
}
section.right {
    display: flex;
    flex-direction: column;
}
section.right .record {
    height: 55%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    font-size: 5rem;
    overflow-y: scroll;
}
section.right .average {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.right .average p {
    font-size: 6rem;
    text-align: center;
    cursor: default;
    transform: translate(0, -5px);
    line-height: 100%;
}
section.right .average p.text {
    font-size: 4rem;
}
section.right .btnbox {
    width: 100%;
    height: 25%;
}
section.right .btnbox button {
    all: unset;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 6rem;
    cursor: pointer;
    border-radius: 50px;
}
section.right .btnbox button.start {
    background-color: white;
}
section.right .btnbox button.stop {
    background-color: #DE8C8C;
}
section.right .btnbox button.none {
    display: none;
}
section.right .btnbox button:hover {
    opacity: 0.7;
}