@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

html {
    font-size: 10px;
    font-family: "Noto Sans JP", sans-serif;
}
body {
    overflow: hidden;
    background-color: #DDF0D3;
}
body.unset {
    overflow: unset;
}
.xbtn {
    z-index: 9999;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 2rem;
    cursor: pointer;
    font-weight: 800;
    color: rgb(210, 0, 0);
}
section.popup {
    position: absolute;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background-color: #DDF0D3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    padding: 50px;
}
section.popup.none {
    display: none;
}
header {
    width: 100;
    height: 50px;
    line-height: 50px;
    background-color: #fafafa;
}
header h1 {
    width: fit-content;
    margin: 0 auto;
    color: black;
    font-size: 2.5rem;
}
main {
    width: 100%;
    height: calc(100vh - 50px);
}
footer {
    font-size: 1.3rem;
    color: rgb(113, 113, 113);
    width: 100;
    height: 100px;
    padding: 10px;
    line-height: 150%;
}
footer .left {
    float: left;
}
footer .right {
    text-align: right;
    float: right;
    width: 50%;
}